.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.result-lose {
  font-size: 30px;
  font-weight: bold;
  color: #b52020;
}


.result-win {
  font-size: 30px;
  font-weight: bold;
  color: orange;
}

.before-begin{
  font-size : 30px;
  font-weight : bold;
  color : green;
}

.result-win .fa-smile-wink {
  font-size: 40px;
}

.svg-inline--fa {
  font-size: 23px;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.margin-table{
  margin: 20px; /* 여기서 원하는 margin 값을 지정합니다. */
}

.fa-skull-crossbones {
  font-size: 40px;
}

.timer .svg-inline--fa {
  font-size: inherit;
}

.timer {
  margin-top: 30px;
  font-size: 40px;
}

.set-option {
  display: flex;
  margin: 30px auto 0;
  justify-content: center;
}





